.row-cols-1 {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 33.33%;
    padding: 10px;
    box-sizing: border-box;
}
.card {
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}