{{>layout/header}}
<div class="container">
    <div class="col-md-12">
        <form method="get">
        </form>
        <!-- 블로그 글 리스트 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">글 번호</th>
                <th scope="col">제목</th>
                <th scope="col">닉네임</th>
                <th scope="col">산이름</th>
                <th scope="col">내용</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#blogs}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/blogs/{{id}}">{{title}}</a></td>
                    <td>{{hikerid}}</td>
                    <td>{{pmntnsn}}</td>
                    <td>{{content}}</td>
                </tr>
            {{/blogs}}
            </tbody>
        </table>
        <a href="/blogs/save" class="btn btn-primary">글 등록</a>
        <a href="/blogs/update" class="btn btn-primary">글 수정</a>
    </div>
</div>

{{>layout/footer}}