<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!doctype html>
<html lang="ko">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mountain-Dew</title>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<script src="https://kit.fontawesome.com/fb139b7f2d.js" crossorigin="anonymous"></script>
<body>
<header>
    <!-- 메뉴 구성시 nav 사용 왼쪽 메뉴, 오른쪽 메뉴 만들 떄. left-menu, right-menu -->
    <nav>
        <div class="left-menu">
            <ul>
                <li><a href="/"><i class="fa-solid fa-mountain-sun">&nbsp Moutain Dew</i></a></li>
            </ul>
        </div>
        <div class="right-menu">
            <ul>
                <li><a href="/oauth2/authorization/google"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li><a href="/sign"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </div>
    </nav>
    <nav class="option">
        <div >
            <ul>
                <li><a href="/search">등산로 찾기</a></li>
                <li><a href="/post">블로그</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/MyPage">My Page</a></li>
            </ul>
        </div>
    </nav>
</header>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li><a href="/MyPage" class="list-group-item"><i class="fa fa-angle-double-right"></i> 내 정보</a> </li>
                <li><a href="/MyPage/myPosts" class="list-group-item"><i class="fa fa-angle-double-right"></i> 내 게시글 </a> </li>
                <li><a href="/MyPage/update" class="list-group-item"><i class="fa fa-angle-double-right"></i> 정보 변경 </a> </li>
                <li><a href="/MyPage/Setting" class="list-group-item"><i class="fa fa-angle-double-right"></i> 환경설정 </a> </li>
                <li><a href="/MyPage/QA" class="list-group-item"><i class="fa fa-angle-double-right"></i> Q/A </a> </li>
                <li><a href="/MyPage/Delete" class="list-group-item"><i class="fa fa-angle-double-right"></i> 회원 탈퇴 </a> </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <ul class="list-group">
                            <li class="list-group-item" style="text-align: left;">Q. 마운틴 듀오는 어떻게 만들게 되었나요?</li>
                            <li class="list-group-item" style="text-align: left;">
                                A. 이것은 등산에 관심이 많은 현대인들에게 자신의 난이도에 맞는 등산로를 추천하고, 등산인들끼리
                                작은 커뮤니티를 만들기 위해 시작된 웹사이트 프로젝트입니다. 마운틴 듀오는 여러분에게 최적화된 정보와
                                다양한 산행 코스를 추천해드리기 위해 매 순간 발전해가고 있습니다.
                            </li>
                            <li class="list-group-item" style="text-align: left;">Q. 마운틴 듀오의 최종 목적은 무엇인가요?</li>
                            <li class="list-group-item" style="text-align: left;">
                                A. 우리의 최종 목적은 한국 안의 모든 산행 코스를 추천드릴 수 있는 사이트가 되는 것입니다. 현재 2019년
                                까지의 정보 업데이트가 완료되었으며, 2023년까지의 정보를 추가 계획중에 있습니다. 최종적으로 여러분에게 만족
                                시킬 수 있는 내용을 드리기 위해 몸을 불사를 것을 약속드립니다.
                            </li>
                            <li class="list-group-item" style="text-align: left;">Q. 마운틴 듀오에는 어떤 기능이 있나요?</li>
                            <li class="list-group-item" style="text-align: left;">
                                마운틴 듀오에는 다음과 같은 기능들이 있습니다. <br>
                                - 등산로 검색, 표시 기능<br>
                                - oauth2로 자동 로그인, 회원가입 기능<br>
                                - 블로그, 뉴스 기능<br>
                                - mypage로 정보 확인 기능<br>
                                - main-page에 글귀 생성, 추천순 정렬 기능<br>
                            </li>
                            <li class="list-group-item" style="text-align: left;">Q. 마운틴 듀오의 제작자는 누구인가요?</li>
                            <li class="list-group-item" style="text-align: left;">A. 마운틴 듀오의 기능과 홈페이지는 정영운, 유수빈, 한종훈 세 명이 기획하고 만들었습니다.</li>
                            <li class="list-group-item" style="text-align: left;">Q. 마운틴 듀오의 개발 기간은 얼마인가요?</li>
                            <li class="list-group-item" style="text-align: left;">
                                마운틴 듀오는 약 1개월간 playdata spring 교육의 미니 프로젝트로 만들어졌습니다. 기획은 4월 14일부터
                                시작하였으며, 4월 18일에 1차 기획이 완료된 후 본격적인 개발이 시작되었습니다. 5월 9일에 새로운 기획안으로
                                업데이트되었으며, 최종 완성일은 5월 18일에 모든 기능이 완성되었습니다.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>layout/footer}}