{{>layout/header}}
<div class="container">
    <table>
        <div>재난 뉴스</div>
        <td>
            <div class="col-md-12">
                <div>
                    <a href="https://news.mt.co.kr/mtview.php?no=2023050906211269744">
                        <img src="https://thumb.mt.co.kr/06/2023/05/2023050906211269744_1.jpg/dims/optimize/" style="border: 2px solid black;" alt="이미지" width="300px" height="250px">
                    </a>
                </div>
            </div>
            <br>
        </td>
        <td>
            <div class="col-md-12">
                <div>
                    <a href="https://www.nbntv.co.kr/news/articleView.html?idxno=1004484">
                        <img src="https://search.pstatic.net/common/?src=https%3A%2F%2Fimgnews.pstatic.net%2Fimage%2Forigin%2F5544%2F2023%2F05%2F04%2F841446.jpg&type=ofullfill264_180_gray&expire=2&refresh=true" style="border: 2px solid black;" alt="이미지" width="300" height="250">
                    </a>
                </div>
            </div>
            <br>
        </td>
        <td>
            <br>
            <div class="col-md-12">
                <div>
                    <a href="http://www.kado.net/news/articleView.html?idxno=1181083">
                        <img src="https://search.pstatic.net/common/?src=https%3A%2F%2Fimgnews.pstatic.net%2Fimage%2Forigin%2F654%2F2023%2F05%2F01%2F38967.jpg&type=ff264_180&expire=2&refresh=true" style="border: 2px solid black;" alt="이미지" width="300" height="250">
                    </a>
                </div>
            </div>
            <br>
        </td>
    </table>
    <table>
        <div>축제 뉴스</div>
        <td>
            <div class="col-md-12">
                <div>
                    <a href="https://www.news1.kr/articles/5009006">
                        <img src="https://search.pstatic.net/common/?src=https%3A%2F%2Fimgnews.pstatic.net%2Fimage%2Forigin%2F421%2F2023%2F04%2F08%2F6734940.jpg&type=ff264_180&expire=2&refresh=true" style="border: 2px solid black;" alt="이미지" width="300" height="250">
                    </a>
                </div>
            </div>
            <br>
        </td>
        <td>
            <div class="col-md-12">
                <div>
                    <a href="http://www.xportsnews.com/?ac=article_view&entry_id=1193536">
                        <img src="https://search.pstatic.net/common/?src=https%3A%2F%2Fimgnews.pstatic.net%2Fimage%2Forigin%2F311%2F2019%2F11%2F05%2F1070279.jpg&type=ff264_180&expire=2&refresh=true" alt="이미지" style="border: 2px solid black;" alt="이미지" width="300" height="250">
                    </a>
                </div>
            </div>
            <br>
        </td>
        <td>
            <div class="col-md-12">
                <div>
                    <a href="http://www.dtnews24.com/news/articleView.html?idxno=743053">
                        <img src="https://search.pstatic.net/common/?src=https%3A%2F%2Fimgnews.pstatic.net%2Fimage%2Forigin%2F5232%2F2023%2F03%2F31%2F196560.jpg&type=ofullfill264_180_gray&expire=2&refresh=true" alt="이미지" style="border: 2px solid black;" alt="이미지" width="300" height="250">
                    </a>
                </div>
            </div>
            <br>
        </td>
    </table>
</div>
{{>layout/footer}}