<!doctype html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mountain-Duo</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://kit.fontawesome.com/fb139b7f2d.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <!-- 메뉴 구성시 nav 사용 왼쪽 메뉴, 오른쪽 메뉴 만들 떄. left-menu, right-menu -->
    <nav>
        <div class="left-menu">
            <ul>
                <li><a href="/"><i class="fa-solid fa-mountain-sun">&nbsp Moutain Duo</i></li>
            </ul>
        </div>
        <div class="right-menu">
            <ul>
                {{#userName}}
                    <div class="text-center">
                        Logged in as: <span id="user">{{userName}}</span>
                        <a href="/logout" class="btn btn-info active" role="button">로그아웃</a>
                    </div>
                {{/userName}}
                {{^userName}}
                    <div class="text-center">
                        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">로그인</a>
                    </div>
                {{/userName}}
                <li><a href="/index"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li><a href="/sign"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </div>
    </nav>
    <nav class="option">
        <div >
            <ul>
                <li><a href="/pmntn">등산로 찾기</a></li>
                <li><a href="/blogs">블로그</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/MyPage">My Page</a></li>
            </ul>
        </div>
    </nav>
</header>
<!---*************welcome this is my simple empty strap by John Niro Yumang ******************* -->
<form>
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="row">
            <div class="col">
                <h1>회원가입</h1>
                <div class="form-group">
                    <label for="inputEmail4">ID</label>
                    <input type="text" class="form-control" id="id" name="id" placeholder="아이디" style="width: 200px;">
                </div>
                <div class="form-group">
                    <label for="inputPassword4">PASSWORD</label>
                    <input type="password" class="form-control" id="pw" name="pw" placeholder="비밀번호"style="width: 200px;">
                </div>
                <div class="form-group">
                    <label for="inputAddress">이름</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="이름" style="width: 150px;">
                </div>
                <div class="form-group">
                    <label for="inputAddress">성</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="성" style="width: 150px;">
                </div>
                <div class="form-group">
                    <label for="inputPassword4">주민번호</label>
                    <input type="text" class="form-control" id="SSN" name="SSN" placeholder="000000-0000000" style="width: 200px;">
                </div>
                <div class="form-group">
                    <label for="inputPassword4">나이</label>
                    <input type="text" class="form-control" id="age" name="age" placeholder="나이" style="width: 200px;">
                </div>
                <div class="form-group">
                    <label for="inputPassword4">성별</label>
                    <input type="text" class="form-control" id="sex" name="sex" placeholder="남/여" style="width: 200px;">
                </div>
                <div class="form-group">
                    <label for="inputPassword4">전화번호</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="010-0000-0000" style="width: 200px;">
                </div>
                <div class="d-flex justify-content-center">
                    <a href="/sign" role="button" class="btn btn-secondary">취소</a>
                    <button id="btn-save" class="btn btn-primary ml-2" onclick="/Register">가입</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="/js/app/register.js"></script>
{{>layout/footer}}